.add-key {

  height: 100px;
  width: 200px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: 0.3s;

  p {
    font-family: Nunito;
    font-weight: 800;
    font-size: 16px;
    color: #818181;
  }

}

.password-text {
  transition: 0.3s;
  &:hover {
    p {
      color: #D6B56A;
    }
  }
}

.link-text {
  a {
    font-family: Nunito;
    font-weight: 800;
    font-size: 16px;
    color: #818181;
  }
  transition: 0.3s;
  &:hover {
    a {
      color: #6A7BD6;
    }
  }
}

.add-key-button {
  color: #D6B56A;
  font-size: 28px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0 10px rgba(55,55,55,0.2);
  transition: 0.3s;
  &:focus {
    outline: none;
  }
  &:hover {
    color:  white;
    background-color: #D6B56A;
  }
}

.modal_body {
  padding: 35px;
}

.new_key, .edit_key {
  .key_name, .key_account, .key_password, .key_url, {
    font-family: Nunito;
    font-weight: 800;
    font-size: 24px;
    color: #818181;
  }
}

.key-input {
  background-color: #E8E8E8 !important;
  color: #A3A3A3;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-family: Nunito !important;
  line-height: 1.5;
  transition: 0.3s;
  &:hover{
    box-shadow: 0 0 15px rgba(55,55,55,0.2);
  }
}

.key-card-links {
  .delete-link {
    a {
      color: #D67B6A;

      &:hover {
        color: #CB5C47;
      }
    }
  }
}

.passwordly-corners {
  border-radius: 8px;
}

//Key cards
.passwordly-card {
  background-color: white;
  max-width: 550px;
  box-shadow: 0 0 20px rgba(55,55,55,0.1);

  h5 {
    font-family: Nunito;
    font-weight: 800;
    font-size: 18px;
    color: #393939;
  }

  p {
    font-family: Nunito;
    font-weight: 800;
    font-size: 16px;
    color: #818181;
  }
}

.link-box {
  a {
    font-family: Nunito;
    font-weight: 800;
    font-size: 16px;
  }
  max-width: 550px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .passwordly-card, .link-box {
    min-width: 90%;
  }

  .add-key {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  //Key cards
  .passwordly-card, .link-box {
    min-width: 550px;
  }
}
