<div class="home-screen">
  <p>A simple home for your keys</p>
  <div class="d-flex flex-column flex-sm-column flex-lg-row">
    <button class="passordly-button info"><%= link_to "Login", new_user_session_path, class: "text-white" %></button>
    <button class="passordly-button primary"><%= link_to "Sign up", new_user_registration_path, class: "text-white" %></button>
  </div>
</div>
