.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 5px 0px 30px rgba(0,0,0,0.07);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;

}
